<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <h1>css</h1>
    <div>div</div>
    <p title="ptbag">this is a p tag</p>
    <p title="no_title">this is a p tag</p>
    <p class="p tagP">p tag two</p>
    <p class="p">p tag two</p> -->
    <!-- empty -->
    <!-- <div class="div_style"></div>
    <div class="div_style">this is div</div>
    <div class="div_style"> </div> -->
    <!-- first-of-type -->
    <!-- <ul>
        <div>This `div` is first!</div>
        <div>This <span>nested `span` is first</span>!</div>
        <div>This <em>nested `em` is first</em>, but this <em>nested `em` is last</em>!</div>
        <div>This <span>nested `span` gets styled</span>!</div>
        <b>This `b` qualifies!</b>
        <div>This is the final `div`.</div>
    </ul> -->
    <!-- first-child -->
    <div>
        <p>This text is selected!</p>
        <p>This text isn't selected.</p>
    </div>

    <div>
        <h2>This text isn't selected: it's not a `p`.</h2>
        <p>This text isn't selected.</p>
    </div>
    <p class="first-line">
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
        中华人民共和国是一个伟大的国家。中华人民共和国是一个伟大的国家。
    </p>
    <div class="text-css">
        <span>中国人民</span>
    </div>
</body>
</html>