<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>布局</title>
    <link rel="stylesheet" href="./布局.css">
</head>
<body>
    <div class="flex-w">
        <div class="flex-c">
            容器：flex-direction, flex-wrap, flex-flow, justify-content, align-items, align-content
            <br>
            项目：order，flex-grow/shrink, flex-basis, flex, algin-self
        </div>
        <div class="flex-l">l</div>
        <div class="flex-r">r</div>
    </div>
    <div class="position-w">
        <div class="position-c">c</div>
        <div class="position-l">l</div>
        <div class="position-r">r</div>
    </div>
    <div class="float-w">
        <div class="float-l">l</div>
        <div class="float-c red blue">注意：浮动塌陷</div>
        <div class="float-r">r</div>
    </div>
    <div class="table-w">
        <div class="table-l">l</div>
        <div class="table-c">c</div>
        <div class="table-r">r</div>
    </div>
    <div class="grid-w">
        <div class="grid-l">l</div>
        <div class="grid-c">c</div>
        <div class="grid-r">r</div>
    </div>

    <div class="float-w-2">
        <div class="float-l-2">l</div>
        <div class="float-r-2">r</div>
        <div class="float-c-2">c</div>
    </div>
</body>
</html>