<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>三列布局</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>三列布局</h1>
    <div id="flex_wrapper">
        <div class="flex_left">left</div>
        <!-- <span>hello world</span> -->
        <div class="flex_center">center</div>
        <div class="flex_right">right</div>
    </div>
</body>
</html>